{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>

  <body>
    {% include 'partes/nav.html' %}
    <div
      class="container-md bg-body-tertiary mt-5 p-5"
      style="border 1px solid #0000; border-radius: 16px; width: 650px; height: 1040px;"
    >
      <h1 class="text-center mb-4">Registro Trabajadores</h1>
      <form id="registroForm">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" required />
        </div>
        <div class="mb-3">
          <label for="rut" class="form-label">RUT</label>
          <input type="text" class="form-control" id="rut" required />
        </div>
        <div class="mb-3">
          <label for="dv" class="form-label">DV</label>
          <input
            type="text"
            class="form-control"
            id="dv"
            maxlength="1"
            required
          />
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="tel" class="form-control" id="telefono" required />
        </div>
        <div class="mb-3">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="direccion" required />
        </div>
        <div class="mb-3">
          <label for="comuna" class="form-label">Comuna</label>
          <select class="form-select" id="comuna" required>
            <!-- Opciones de comuna cargadas desde la base de datos -->
          </select>
        </div>
        <div class="mb-3">
          <label for="profesion" class="form-label">Profesión</label>
          <input type="text" class="form-control" id="profesion" required />
        </div>
        <div class="mb-3">
          <label for="sexo" class="form-label">Sexo</label>
          <select class="form-select" id="sexo" required>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ocupacion" class="form-label">Ocupación</label>
          <input type="text" class="form-control" id="ocupacion" required />
        </div>
        <div class="mb-3">
          <label for="puesto" class="form-label">Puesto en la Empresa</label>
          <input type="text" class="form-control" id="puesto" required />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

    <!--oculto-->
    <div id="modal" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Registro</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p id="modal-text">Este es el texto de la carta.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="button" id="confirmButton" class="btn btn-primary">
              Confirmar Registro
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
